body{
    max-width: 100px;
    margin:0 auto ;
}
a{
   margin: 30px;
    display: block;
    text-decoration: none;
}
a:link{
    color: rgb(17, 233, 17);
}
a:visited{
    color:red;
}
a:hover{
    color: yellow;
 
 }
a:active{
    color: blueviolet;
}
